@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700);

body {
    margin: 0;
    padding: 0;
    /*color: #9da6ac;*/
    overflow-x: hidden;
    background-color: #ebedef;
    -webkit-text-size-adjust: 100%;
    font: 14px/24px 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    color: #76889a;
}

a, a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

a:focus, a:hover {
    outline: none;
    color: #fafafa;
    text-decoration: none;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

b, strong {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #fafafa;
    line-height: 1.2;
    font-weight: normal;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#sidebar-wrapper {
    top: 0;
    height: 100%;
    left: -270px;
    width: 270px;
    z-index: 99999;
    position: fixed;
    background-color: #343a40; /**   343a40 **/
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}


.sidebar-btn {
    top: 20px;
    width: 40px;
    height: 40px;
    right: -60px;
    color: #fafafa;
    z-index: 99999;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    background-color: #d2013a;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.sidebar-btn:hover {
    background-color: #990015;
}

.sidebar-btn > i {
    margin-top: 10px;
}

#sidebar-wrapper.openclose {
    left: 0;
}

#sidebar-posicion {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    display: none;
    z-index: 99998;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

#sidebar-posicion .openclose {
    display: block;
}

#sidebar-scroller {
    width: 270px;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

#sidebar-container {
    height: 100%;
    background-color: #d2013a;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar-container ul {
    width: 270px;
    list-style: none;
    padding: 0 0 10px;
    position: relative;
    margin: 0 0 10px;
    -webkit-overflow-scrolling: touch;
}

#sidebar-container ul:after {
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: 1px;
    content: '';
    #margin-left: 15px;
    position: absolute;
    background-color: #fafafa;
}

#sidebar-container ul:last-child:after {
    background-color: transparent;

}

#sidebar-container ul:last-child {
    bottom: 0;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
}


#sidebar-container ul li {
    width: 100%;
    height: 50px;
    display: block;
    text-align: left;
    line-height: 60px;
}

#sidebar-container ul li a {
    display: block;
    color: #fafafa;
    font-size: 13px;
    font-weight: 600;
    line-height: 50px;
    padding: 0 0 0 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#sidebar-container ul li.active a,
#sidebar-container ul li a:focus,
#sidebar-container ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.panel-logo {
    background: white;
    padding: 13px 0 13px;
}

.panel-logo img {
    width: 100px;
}


.panel-tipo-rol {
    padding: 13px 0 15px;

}


.panel-tipo-rol h5 {
    padding-bottom: 10px;
    font-weight: bolder;
}

.panel-tipo-rol span {
    padding-left: 13px;
    font-size: 0.9em;
}

.panel-titulo {
    padding: 20px 0 5px 13px;
    font-weight: bolder !important;
    border-top: 1px solid #fafafa !important;
}


.panel-menu-items > li {
    list-style: square inside;
}

.div-panel {
    border-radius: 25px;
    margin-top: 25px;
    background-color: #fff;
    padding: 35px 50px 30px 35px;
}

.login-titulo {
    margin-top: 35px;
    margin-bottom: 15px;
}

.login-titulo img {
    width: 200px;
    margin-bottom: 20px;
}

.login-titulo h1 {
    font-weight: bolder;
    color: #c4253f;
}

.login-form {
    #margin-top: 45px;
    border-style: solid;
    border-color: #de003c;
    border-radius: 30px;
    border-width: 1px;
    background: #fff;
    padding: 20px 35px 20px 35px;
}

.login-form .img {
    width: 150px;
}

.login-form h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-form .mensaje {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.login-form .form-group input {
    border-radius: 10px;
}

.login-form button {
    margin-top: 20px;
    border-radius: 10px;
}

.login-form a {
    margin-top: 20px;
    border-radius: 10px;
}

.login-form .enlace-registrar {
    color: #4e555b;
    font-size: 15px;

}

.btn-send {
    color: #fafafa !important;
}

.btn-registrar {
    margin: 10px 0 25px;
}

.btn-regresar {
    margin: 10px 0 25px;
}

.titulo-panel {
    background: #d2013a !important; /*0e141a*/
    padding-top: 24px;
    text-align: center;
    padding-bottom: 24px;

}


table th {
    text-align: center;
    font-size: 14px;
}

table td {
    text-align: center;
    font-size: 14px;
}

table thead {
    width: 97.7%;
    background-color: #343a40;
}

table thead tr {
    width: 97.7%;
}

table tbody {
    display: block;
    max-height: 420px;
    overflow-y: scroll;
}

.table-text-small td {
    text-align: center;
    font-size: 13px;
}

.btn-editar, .btn-eliminar {
    font-size: 14px;
}

.btn-registrar i {
    padding: 1px 11px 0 0;
}

.btn-regresar i {
    padding: 1px 11px 0 0;
}

fieldset {
    border-style: solid;
    border-color: #ebedef;
    border-radius: 15px;
    border-width: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

legend {
    font-size: 17px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
    width: auto;
}

.reporte-notas {
    margin-top: 40px;
}

.mensaje-error {
    padding: 5px;
}

.btn-salir {
    padding-left: 15px;
    padding-right: 25px;
}

.container-subnav nav {
    margin-top: 75px;
}

.container-config {
}

footer {
    padding: 5px;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #d2013a;
    color: #fafafa;
    text-align: center;
}

.btn-salir > form > a > i {
    padding-right: 10px;
}

.titulo-navbar {
    border-top: 1px solid #fafafa;
    background-color: #c4253f !important;
}

.nav-general {
    margin: -8px 0 -8px 0;
    padding: 8px 0 8px 0;
}

.nav-general .nav-item .nav-link {
    color: #fafafa;
}

.nav-general .nav-item .active {
    border-radius: 5px;
    background-color: #990015;

}

fieldset {
    /**border: 1px solid #d2013a;**/
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

fieldset legend {
    padding: 0 15px 0 15px;
    font-size: 14px;
    text-transform: uppercase;
}

fieldset h5 {
    color: #1b1e21;
    text-transform: uppercase;
}

fieldset .titulo-subpanel {
    padding-top: 15px;
    /**border-top: 1px solid #d2013a;**/
    padding-bottom: 15px;

}

.barra-regresar {
    padding-top: 10px;
    padding-bottom: 0 !important;
}

.subtitulo {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: -55px 150px 20px;
    border-radius: 25px;
}

.subtitulo h2 {
    font-weight: 600;
}


.content-tabla {
    border: 2px solid #f5f5f5;
    border-radius: 25px;
    padding: 30px 15px 30px 15px;
}

#div_asistencia_alumno, #div_asistencia_docente {
    margin-top: 35px;
}

.info-alumno {
    border: 2px solid #f5f5f5;
    padding: 20px 30px 10px 30px;
    margin-bottom: 15px;
    border-radius: 25px;
}

.titulo-asistencia-info {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}


.titulo-barra h2 {
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 15px;
}

.btn-reportes {
    margin-top: -10px;
    margin-bottom: 15px;
    margin-left: 70px;
}

.transform-uppercase {
    text-transform: uppercase;
}